h1{
    color:black;
}

*{
    margin: 0px;
    padding: 0px;
      font-family: "Archivo", sans-serif;
}

#container{
    width:100%;
    height:100vh ;
}

#navbar{
    display: flex;
    width:85%;
    margin-left: 100px;
    justify-content: space-between;/*horizontal movement*/
    align-items: center;/*vertical movement*/
}

#logo{
    width: 130px;
}

.listlten{
    display: inline-block;/*to display in same line*/
    margin: 10px 20px;
    list-style: none; /*remove the bullet points*/
}
.listlten a{
        color: black;
        text-decoration: none;/*to remove underline*/
        font-weight: 700;

}
.listlten a:hover{
    color: red;
}
#title{
    margin-top: 14%;
    margin-left: 8%;
}
#title h1{
    font-size: 50px;
    margin-bottom: 20px;
}
#lastname{
    color: orange;
}
#title p{
    margin-bottom: 40px;
}
#DOWNLOAD{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
#images{
    width: 45%;
    height: 85%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.imageGroup{
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    transition: bottom 1s, left 2s;
}
#images:hover #shape{
    bottom: 60px;
}
#images:hover #girl{
    left: 40%;
}
#about{
    margin: 16% 8% 0% 8%;
}
.heading{
       text-align: center;
}
.heading h1{
    font-size: 30px;
}
.heading span{
    font-size: 20px;
    color: green;
}
#about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 4rem;
    column-gap: 2rem;
}
#about-image img{
    width: 80%;
}
#about-details p{
    font-size: 20px;
    text-align: justify;
}
#informations{
    font-size: 20px;
    margin-top: 2rem;
}
.info-box{
    margin: 1rem 0rem;
}
.info-box span{
    margin-left: 1rem;
}
#skills{
    margin:8% 8% 0% 8%;
}
#skill-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}
#skill-img img{
    width: 90%;
}
.base-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin-top: 15px;
    position: relative;
}
.base-bar span{
    font-size: 20px;
    font-weight: 700;
}
.bar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
   /* border-radius: 0.2rem;*/
   position: absolute;
   bottom: 0px;
}
#htmlbar{
    width: 90%;
    background-color: orange;
}
#cssbar{
    width: 88%;
    background-color: orange;
}
#jsbar{
    width: 89%;
    background-color: orange;
}
#reactbar{
    width: 85%;
    background-color: orange;
}
#Contact{
    margin-top: 20px;
}
#icon-set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.icon , #upnarrow{
    width: 50px;
    height: 50px;
  /*  border: 1px solid red;*/
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon a{
    color: black;
}
.icon:hover{
    background-image: linear-gradient(to top left ,rgb(255, 77, 0), yellow);
}
.icon:hover a{
    color: white;
}
.icon:hover{
    animation: shake 0.75s;
}
@keyframes shake{
    10%{
       transform: rotate(15deg);
    }
    20%{
      transform: rotate(-15deg);
    }
    30%{
     transform: rotate(15deg);
    }
    40%{
     transform: rotate(-15deg);
    }
}

footer{
    text-align: center;
    margin: 20px 0px;
}
#upnarrow{
        background-image: linear-gradient(to top left ,rgb(255, 77, 0), yellow);
        float: right;
}
#upnarrow:hover a{
    color: white;
}
html{
    scroll-behavior: smooth;
}